body {
  background-color: #180018;
  color: #a292d8;
  font-family: Arial, sans-serif;
  }

a {
  color: #98ff98;
  text-decoration: underline;
  }

details {
  border: 1px solid #c795ed;
  border-radius: 1px;
  padding: 0.5em 0.5em 0;
}

summary {
  color: #98ff98;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #c795ed;
  margin-botton: 0em;
}
